<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>427231965425-6iphf10evor1qj3f40hqgh26i3s21p9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427231965425-6iphf10evor1qj3f40hqgh26i3s21p9k</string>
	<key>API_KEY</key>
	<string>AIzaSyAB7GDA35oMZu06AoRDM22amJkNXfvIN_E</string>
	<key>GCM_SENDER_ID</key>
	<string>427231965425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.herokuapp.examsimv100</string>
	<key>PROJECT_ID</key>
	<string>examsimv100-8a063</string>
	<key>STORAGE_BUCKET</key>
	<string>examsimv100-8a063.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427231965425:ios:0ffd1bb8e71fbfb0</string>
	<key>DATABASE_URL</key>
	<string>https://examsimv100-8a063.firebaseio.com</string>
</dict>
</plist>