page-basic-toefl-list {

  ion-slides {

    height: auto;
  }

.label {
    margin: 0 0 0 0;
  }
  .item {
    margin-top: 2px !important;
    padding: 4px !important;
    margin-bottom: 2px;

  }
}
