
      <ion-tabs>
          <div *ngIf="allToefls.length !== 0">
                <ion-tab tabIcon="ios-star-outline" tabTitle="All" [root]="tab1" [rootParams]="this.allToefls"></ion-tab>
          </div>
          <div *ngIf="advancedToefls.length !== 0">
                <ion-tab tabIcon="leaf" tabTitle="Adv" [root]="tab2" [rootParams]="this.advancedToefls"></ion-tab>
          </div>
          <div *ngIf="intermediateToefls.length !== 0">
                <ion-tab tabIcon="flame" tabTitle="Inter" [root]="tab3" [rootParams]="this.intermediateToefls"></ion-tab>
          </div>
          <div *ngIf="basicToefls.length !== 0">
                <ion-tab tabIcon="magnet" tabTitle="Basic" [root]="tab4" [rootParams]="this.basicToefls"></ion-tab>
          </div>
          <div *ngIf="beginnerToefls.length !== 0">
                <ion-tab tabIcon="magnet" tabTitle="Beginner" [root]="tab5" [rootParams]="this.beginnerToefls"></ion-tab>
          </div>
      </ion-tabs>
